/** Global styles **/

@font-face {
    font-family: "Poetsen One";
    src: url("/fonts/PoetsenOne-Regular.ttf") format(truetype);
}

@font-face {
    font-family:"Inter Regular";
    src: url("/fonts/Inter-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Inter Bold";
    src: url("/fonts/Inter-Bold.ttf") format(truetype);
}

@font-face {
    font-family: "Inter Semi Bold";
    src: url("/fonts/Inter-SemiBold.ttf") format(truetype);
}

:root {
    font-family: "Inter Semi";
}

body {
    margin: 0px;
}

.navigation-box {
    display: flex;
    align-items: center;

}

.logo-header .navigation-box {
    position: sticky;
}


img {
    height: fit-content;
    width: fit-content;
}   

ul li {
       padding: 5px;
       margin: 10px;
}

nav,
.activities-specific-page-3,
.yellow-background,
.yellow-background-2,
footer,
.button, 
.button-infopage   {
    background: #FBCF0E;
}

nav {
    width: 100%;
    padding:25px;
    flex: 100%;
}

a {
    text-decoration: none;
    color: #000;
    margin: 15px;
 }



.exhibitions-3 {
 margin: 15px;
}

.exhibitions-2 {
    display: flex;
}
 
 ul {
     list-style: none;
     flex-direction: column;
 }

 .highlighted-text-nav {
    font-weight: 1000;
 }

/* HAMBURGER MENU START */ /* https://noroff-content.gitlab.io/feu/html-css/navigation.html*/

nav, #menu-checkbox { 
    display: none;
}

#menu-checkbox:checked ~ nav { 
    display: block;
} 

.hamburger-icon {
    font-size: 30px;
    padding: 30px;
}



/* HAMBURGER MENU END */

.yellow-background h2 {
    padding-top: 24px;
}

.logo-header {
    align-items: center;
    display: flex;
}

.logo-header img {
  width: 130px;
  height: auto;
  margin: 0px 30px 15px;

}

/* HEADER START */

header {
    background-color: #E8E8E8;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.navigation-box nav {
    display: 100%;
}
/** HEADER & HAMBURGER MENU IN MOBILE VIEW **/

@media (min-width: 685px) {
    
.logo-and-navbar {
    display: flex;
}

}

@media (max-width:490px) {
    .logo-and-navbar,
    .logo-header {
        flex-direction: column;
    }

    .activities-frontpage {
    padding-top: 280px;
}
}

/* HEADER END*/

/* FOOTER START */

.opening-hours {
    display: flex;
    flex-direction: column; 
}

.opening-hours-list {
    flex-direction: column;
    padding: 0px;
}

.opening-hours-list li {
    margin-left: 0px;
    line-height: 30px;
}

.location-address {
    gap: 5rem;
    flex: 1;
}

.location-address p {
    line-height: 18px;
    margin:0px;
}

.location-address h4 {
    padding-bottom: 13px;
}

.location-address-specific {
 margin: 0px;
 padding-top: 20px;
}

.location-and-logo {
    display: flex;
}

.footer-content { 
 display: flex;
 flex: 1;
 gap: 3rem;
}

footer {
    display: flex;
    flex: 1;
    padding: 35px;  
    gap: 5em;

}

.logo-footer-specific {
    width: 40px;
}

.opening-hours ul li {
    line-height: 17px;
    padding-top: 0px;
}

.logo-footer-specific {
    width: auto;
    height: 65px;
    margin-top: 170px;
    margin-right: 60px;
}


h4 {
    margin-bottom: -3px;
}

@media (max-width:615px) {
    .location-and-logo {

    }

    .logo-footer {
        position: absolute;
    }

    .logo-footer-specific {
        position: relative;
        margin-left: 150px;
        width: 50px;
    }

    .footer-content {
        gap: 0px;
    }
}

@media (max-width:890px) {

    footer {
        display: block;
    }

    .location-address {
        flex: none;
    }

    .opening-hours-list li {
        width: 203px;
    }

}

@media (max-width:635px) {

    footer {
        display: block;
    }

    .location-address {
        flex: none;
    }

    .opening-hours-list li {
        width: 203px;
    }

    .logo-footer {

    }
}

/* FOOTER END */


h1 {
    margin-left: 25px;
    line-height: 1.2em;
    margin: 0px;
}

h1, h4, .button a {
    font-family: "Inter Semi Bold";
}

p, 
li, 
a {
    font-family: "Inter Regular";
}

.photo-caption, 
h2, 
h3,
.highlighted-text-frontpage,
.highlighted-text  {
    font-family: "Poetsen One";
}

.button,
.active, 
.button-infopage {
    font-family: "Inter Bold";
    margin: auto;
}

.frontpage-activities div, 
.content-wrapper div,
nav,
.hamburger-icon, 
.location-address,
input .button, 
.logo-and-navbar > * {
    margin: auto;
}


.button, 
.button-infopage,
h2, 
.frontpage-activities div,
.content-wrapper div,
.white-container-2,
.yellow-background,
.footer-content ul li,
.location-address   { 
width: fit-content;
}

.button, .button-infopage {
    padding: 5px 15px;
    border: solid;
    border-width: 2px;
    text-align: center;
    margin: 20px 51px;
}

.button {
    margin: auto;
}

/** Alle overskrifter på desktopsidene, pluss tekst i boks på infosiden **/
h2 {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    margin-left: 43px;
    margin-top: 0;
    padding-top: 20px;
}

h3, .photo-caption {
    font-size: 20px;
}

img {
    width: 100%; 
    border-radius: 10px;
}

.activities-frontpage, 
.activities-specific-page,
.contact-container {
    background-color: #3FA752;
}

.activities-frontpage-2, 
.activities-specific-page-2, 
.activities-spesicic-page-2-2 {
    background-color: #5F74C0;
}

.activities-spesicic-page-2-2 {
    display: flex;
    padding-bottom: 65px;
}

.activities-spesicic-page-2-2 > * {
    width: 33%;
}

.frontpage-activities, 
.content-wrapper, 
.activities-specific-page,
.info-content {
    display: flex;
    grid-gap: 2rem;
    
}

main .content-wrapper, 
.activities-frontpage-2, 
.activities-specific-page,
.activities-specific-page-1, 
.activities-specific-page-3 {
    padding: 20px 20px 40px;
}



.contact-form-content, 
.contact-form-specific,
body {
 max-width: 100%;
}
 
/** 1 - HOMEPAGE START **/

.content-wrapper {
    display: flex;
}

.interactive-text {
    font-size: 15px;
    display: flex;
}

.interactive-text p {
    padding: 55px;
}



@media (max-width:850px) {
    
    .content-wrapper,
    .interactive-text,
    .frontpage-activities {
        flex-direction: column;
    }

    .interactive-text p {
        padding: 0px 100px 50px;
    }
}

@media (max-width:500px) {
    .white-container {
    }
}

.white-container {
    background-color: #fff;
    padding: 50px 200px;
    text-align: center;
    margin-top: 40px;
}



.frontpage-activities img {
    margin-bottom: 13px;
}


.text-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.activities-frontpage {
    padding-bottom: 75px;
}

/** 1 - HOMEPAGE END **/

/** 2 - ACTIVITIES SPECIFIC PAGE START **/

.exhibitions, .exhibition-section > div, .content-wrapper > *  {
    flex: 1;
}

.white-container-2,
.white-container-3 {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.white-container-activities-page {
    background-color: #fff;
    padding: 1px;
    margin-top: 90px;
    margin-bottom: 20px;
}

.white-container-activities-page div {
    padding: 10px;
}


.white-container-2 > img {
    aspect-ratio: 2;
}

.activities-content-2 div {
    display: flex;
}

.activities-photo img {
    aspect-ratio: 2;
}

div > button {
    display: flex;
}

.white-container-activities-page > .button {
    margin-left: 200px;
    margin-top:100px;
}

.activities-content2 {
display: flex;
padding-bottom:100px;
}

.activities-content2 > {
    flex: 50%;
}


.exhibitions, .activities-content-2 {
    display: flex;
}

.exhibition-section { 
    display: flex;
    flex: 1;
}

.exhibitions h2, .yellow-background h2 {
    flex: 100%;
}

.exhibitions p {
    margin-top: 0px;
}

/** 2 - ACTIVITIES SPECIFIC PAGE END **/

/** 3 - INFO PAGE **/

.info-text {
    display: flex;
    padding: 15px 120px;
    gap: 10rem;
    
}

.info-content-opening-hours ul {
    padding: 20px;
}

.map {
    display: flex;
    padding: 35px;
}

.info-text section {
    padding: 10px;
}

.map div {
    display: flex;
}

.yellow-background {
    border-radius: 10px;
    margin: 40px;
    padding: 40px;
}

.info-content-opening-hours {
    flex: 100%;
}

.highlighted_text { 
padding-left: 45px;
font-size: 25px; /* rep stil */
}

.highlighted-text-frontpage {
    font-size: 25px;
}

.info-content {
    align-items: center;
    gap: 6rem;
}

.info-content > .yellow-background {
    margin: 0px;
}


.info-content h3 {
    position: absolute;
    margin-left: 33px;
    margin-top: 3px;
}

.info-content-2 {
    display: flex;
    align-items: center;
    flex: 100%;
}

.info-text > .info-text-1-section  { /** DÅRLIG SKREVET - ENDRE? **/
    padding-bottom: 40px;
}

.info-text-1-content {
    padding-bottom: 13px;
}

.info-content-address ul li {
    font-family: "Inter Bold";
    font-size:x-large;
}

.info-content-address {
    flex: 100%;
}

@media (max-width: 1010px) {

   .info-content {
    flex-direction: column;
    gap: 0rem;
   }

    .info-content-2 {
    }

    .map {
       width: 90%;
        
    }

    .info-text {
        gap: 5rem;
    }
   
}

@media (max-width:650px) {
    .info-text {
        display: block;
        padding: 10px;
    }

    .white-container {
        padding: 50px 100px;
    }

}

/** 4 - CONTACT PAGE START **/

.contact-container main {
    position: relative;
    height: 600px;
}

form {
    display: flex;
    flex-direction: column;
}


#message {
    margin-bottom: 25px;
}

#message.contact-box {
    height: 100px;
}

.contact-box {
   background-color: #F3F3F3;
   margin: 5px;
   width: 385px;
}

select, .contact-box {
    margin: 5px;
    height: 30px;
}

.contact-form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-form-content h2 {
    margin-left: 0px;
}

@media (max-width: 405px) {

    .contact-form input,
    select,
    .contact-form .contact-box {
       width: fit-content;
   }
   
   textarea#message.contact-box {
       padding:16px;
   }
   
   select {
    width: 95%;
}
    
}

/** 4 - CONTACT PAGE END **/    